<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Music by The Crowning</title>
  <meta name="description" content="Preview, download or stream All I Want by The Crowning">

  <meta property="og:title" content="All I Want by The Crowning">
  <meta property="og:description" content="Preview, download or stream All I Want by The Crowning">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://music.thecrowningmusic.com">
  <meta property="og:image" content="https://raw.githubusercontent.com/micahlmartin/tc-music/master/images/alliwant-tiny.jpg">

  <meta name="twitter:site" value="@crowningmusic">
  <meta name="twitter:creator" value="@crowningmusic">
  <meta name="twitter:url" value="http://music.thecrowningmusic.com">
  <meta name="twitter:title" content="All I Want by The Crowning">
  <meta name="twitter:description" content="Preview, download or stream All I Want by The Crowning">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://raw.githubusercontent.com/micahlmartin/tc-music/master/images/alliwant-tiny.jpg">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}" >

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '123571174966449');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=123571174966449&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NXHCNHX');</script>
    <!-- End Google Tag Manager -->
  
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXHCNHX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="container" id="main-column">
    <div class="bg">
      <img src="{{ "/images/alliwant-tiny.jpg" }}" />  
    </div>
    <div class="header-img" style="position:relative">
      <img src="{{ "/images/alliwant-tiny.jpg" }}" />
    </div>
    <div id="header" class="service-container sticky" style="z-index:9000">
      <div class="header">
        <h1 class="artist">The Crowning</h1>
        <p class="where">All I Want</p>
        </div>
      <div class="arrow"></div>
    </div>
    <div class="hideme" style="display:none;z-index:1"></div>
    <div id="service" class="service-container">
        <!--Artist information-->

        <!--End of artist information-->
        <div class="service">
            <a class="img-btn redirect" href="https://thecrowningmusic.com/shop" data-player="thecrowningmanual" data-servicetype="goto" data-apptype="manual">
            <img class="" width="60px" height="60px" style="display:inline-block;" src="{{ "/images/crown-and-text-black.png" }}" alt="thecrowningmanual">
            <span class="play">Shop</span>
            </a>
        </div>
        <div class="service">
            <a class="img-btn redirect" href="https://music.apple.com/us/album/all-i-want-single/1494544922" data-player="itunes" data-servicetype="download" data-apptype="manual">

            <img class="" width="125px" height="40px" style="display:inline-block;" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_itunes.svg" alt="itunes">
            <span class="play">Download</span>
            </a>
        </div>
        <div class="service">
            <a class="img-btn redirect" href="https://music.apple.com/us/album/all-i-want-single/1494544922?app=music" data-player="applemusic" data-servicetype="play" data-apptype="manual">

            <img class="" width="125px" height="40px" style="display:inline-block;" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_applemusic.svg" alt="applemusic">
            <span class="play">Listen</span>
            </a>
        </div>
        <div class="service">
            <a class="img-btn redirect" href="https://open.spotify.com/album/52Mlfq1jsz7O0SOqJMFhGZ" data-uri="spotify:album:0lD7oy6F9TUkmNgGmVLngf" data-player="spotify" data-servicetype="play" data-apptype="manual">

            <img class="" width="125px" height="40px" style="display:inline-block;" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_spotify.svg" alt="spotify">
            <span class="play">Play</span>
            </a>
        </div>
        <div class="service">
            <a class="img-btn redirect" href="https://play.google.com/store/music/album/The_Crowning_All_I_Want?id=Biw65efbfmo36te76bmvznwz3hi" data-player="google-play" data-servicetype="download" data-apptype="manual">

            <img class="" width="125px" height="40px" style="display:inline-block;" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_google-play.svg" alt="google-play">
            <span class="play">Download</span>
            </a>
        </div>
        <div class="service">
            <a class="img-btn redirect" href="https://www.amazon.com/All-I-Want-Crowning/dp/B083QWWYWS" data-player="amazonmp3" data-servicetype="download" data-apptype="manual">

            <img class="" width="125px" height="40px" style="display:inline-block;" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_amazonmp3.svg" alt="amazonmp3">
            <span class="play">Download</span>
            </a>
        </div>
        <div class="service">
            <a class="img-btn redirect" href="https://soundcloud.com/crowningmusic/all-i-want" data-player="soundcloud" data-servicetype="play" data-apptype="manual">

            <img class="" width="125px" height="40px" style="display:inline-block;" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_soundcloud.svg" alt="soundcloud">
            <span class="play">Play</span>
            </a>
        </div>
        <div class="service">
            <a class="img-btn redirect" href="https://www.youtube.com/watch?v=WkZeGEXM5uw" data-player="youtube" data-servicetype="play" data-apptype="manual">

            <img class="" width="125px" height="40px" style="display:inline-block;" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_youtube.svg" alt="youtube">
            <span class="play">Play</span>
            </a>
        </div>
        <div class="service">
            <a class="img-btn redirect" href="https://tidal.com/browse/album/127897198" data-player="tidal" data-servicetype="play" data-apptype="manual">

            <img class="" width="125px" height="40px" style="display:inline-block;" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_tidal.svg" alt="tidal">
            <span class="play">Play</span>
            </a>
        </div>
        <!-- <div class="service">
            <a class="img-btn redirect" href="http://us.napster.com/track/tra.388419582" data-player="napster" data-servicetype="play" data-apptype="manual">

            <img class="" width="125px" height="40px" style="display:inline-block;" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_napster.svg" alt="napster">
            <span class="play">Play</span>
            </a>
        </div> -->
        <!-- <div class="service">
            <a class="img-btn redirect" href="https://www.deezer.com/us/album/102118032" data-player="deezer" data-servicetype="play" data-apptype="manual">

            <img class="" width="125px" height="40px" style="display:inline-block;" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_deezer.svg" alt="deezer">
            <span class="play">Play</span>
            </a>
        </div> -->
   </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102406296-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-102406296-4');
  </script>

</body>
</html>
